@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --color-1: #F8313B;
    --color-2: #292A49;
    --color-3: rgb(221, 218, 218);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
    color: var(--color-2);
}

header {
    background-color: var(--color-1);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo img {
    width: 90%;
}

section.container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 40px;
}

.form-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
}

.form-cont form {
    width: 80%;
    padding: 20px 0;
}

.ip input {
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-3);
    padding: 10px;
    margin-top: 20px;
    outline: 0;
}

.email {
    margin: 20px 0;
}

.rd {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.rd label {
    margin-bottom: 20px;
}

.radio label:not(:last-child) {
    margin: 0 20px 0 0;
}

.radio2 label:not(:last-child) {
    margin: 0 20px 0 0;
}

.ta {
    margin-top: 40px;
}

.ta textarea {
    width: 90%;
    height: 100px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-3);
    padding: 10px;
    margin-top: 20px;
    resize: none;
    outline: 0;
}

.ta a {
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 20px;
    background-color: var(--color-2);
    color: var(--color-1);
    border-radius: 5px;
    cursor: pointer;
}

.serviços {
    margin-top: 40px;
}

.dados {
    margin-top: 40px;
}

.concorrente h2 {
    margin: 30px 0;
}

.concorrente input {
    margin-bottom: 20px;
}

.modelos {
    margin-top: 20px;
}

.modelos h2 {
    margin: 30px 0;
}

.modelos input {
    margin-bottom: 20px;
}

.form-cont form button {
    width: 180px;
    height: 40px;
    background-color: var(--color-1);
    color: var(--color-2);
    font-size: 18px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 80px;
    cursor: pointer;
}

#btn {
    width: 250px;
    height: 40px;
    margin-top: 20px;
    background-color: var(--color-2);
    color: var(--color-1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#btn-2 {
    width: 220px;
    height: 40px;
    margin-top: 20px;
    background-color: var(--color-2);
    color: var(--color-1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media(max-width: 768px) {

    .form-cont {
        width: 100%;
        padding-left: 20px;
    }

    .form-cont form {
        width: 100%;
        position: relative;
    }

    .ip input {
        width: 90%;
    }

    .rd {
        width: 90%;
    }

    .ta textarea {
        width: 90%;
    }

    .form-cont form button {
        width: 50%;
        position: absolute;
        left: 24%;
        margin-top: 60px;
    }

}